<footer class="footer">
  <small>
    Made with <a href="http://www.railstutorial.org/">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.reddit.com/">News</a></li>
    </ul>
  </nav>
</footer>
